body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 24px;
	line-height: 34px;
	background: #fff;
	color: #000983;
}
.resize {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	width: 946px;
}

.dark {
	color: #fff;
	background: #000983;
}

h2 {
	position: relative;
	text-align: center;
}
h2:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 60px;
	height: 1px;
	background: #000983;
	transform: translate(-50%, 0);
}
.dark h2:after {
	background: #fff;
}
h1 {
	font-size: 96px;
	line-height: 112px;
}
h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: normal;
	letter-spacing: -0.5px;
}
h3 {
	font-size: 34px;
	line-height: 48px;
	font-weight: normal;
	text-align: center;
}
section {
	padding: 10px 0 40px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}

.button {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
}
.button a {
	display: inline-block;
	padding: 6px 44px;
	color: #fff;
	text-decoration: none;
	background: #000983;
	border-radius: 10px;
}

.wrap:after {
	content: "";
	display: block;
	clear: both;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.box {
	margin: 0 auto;
	width: 440px;
}
.box-small {
	font-size: 18px;
	line-height: 25px;
}

/* section 1 */
.section1 {
	padding-bottom: 24px;
}
.section1 .resize {
	display: flex;
	flex-direction: column;
}
.section1 .resize > * {
	order: 1;
}
.section1 .resize h2 {
	order: 0;
}
.section1 .resize h1 {
	margin: 0;
	padding: 32px 0 0;
}
.section1 h1 span {
	color: #0f0;
}
.section1 .text {
	padding-left: 80px;
}
