body {
	margin: 0;
	font-family: Arial, sans-serif;
	font-size: 24px;
	line-height: 34px;
	background: #fff;
	color: #000983;
}
.resize {
	position: relative;
	margin: 0 auto;
	padding: 0 15px;
	width: 946px;
}

.dark {
	color: #fff;
	background: #000983;
}

h2 {
	position: relative;
	text-align: center;
}
h2:after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: -5px;
	width: 60px;
	height: 1px;
	background: #000983;
	transform: translate(-50%, 0);
}
.dark h2:after {
	background: #fff;
}
h1 {
	font-size: 96px;
	line-height: 112px;
}
h2 {
	font-size: 36px;
	line-height: 48px;
	font-weight: normal;
	letter-spacing: -0.5px;
}
h3 {
	font-size: 34px;
	line-height: 48px;
	font-weight: normal;
	text-align: center;
}
section {
	padding: 10px 0 40px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
